<!DOCTYPE html>
<html lang="en" ng-app="myFirstApp">
<head>
    <meta charset="UTF-8">
    <title>Angularjs Tuts</title>
    <script src="./angular.min.js"></script>
    <script src="./index.js"></script>
</head>
<body>
    <h1>Angularjs Tuts...</h1>
    <div ng-controller="MyFirstController">
        <h3>Print from the sayHi method: {{ sayHi()}}</h3>
        <h2>My Message is : {{message}}</h2>
        <input type="text" ng-model="message"/>
    </div>

    <div ng-controller="NameCalculatorAppController">
        <h2>Name Calculator</h2>
        <div>your name : <input type="text" ng-model="name" ng-keyup="displayNumeric();"></div>
        <div>Total Numeric value of person's name is: {{totalValue}} </div>
    </div>

    <div ng-controller="DIController">
        <h2>Dependency Injection (DI) in Angularjs(javascript):</h2>
        <input type="text" ng-model="name" ng-blur="upper();"/>
        {{name}}
    </div>

    <div ng-controller="ExpAndInterController">
        <h2>Expressions and Interpolation</h2>
        <div>
            {{name}} Original Message is : <br>
            {{sayMessage()}} <br>
            Loves Message: <br>
            {{sayLoves()}}
        </div>
    </div>

    <div ng-controller="MyFilterController">
        <h2>Filter</h2>
        <div> {{ cost | currency}}</div>

        <div>{{message | loves | uppercase}}</div>
        <div>{{message | loves | truth: "Dota 2" : "Cricket" }}</div>
    </div>
    <div ng-controller="CounterController">
        <button ng-click="showNumbersWatchers()">
            Log Watchers
        </button>
        <input type="text" ng-model="name">
        <div>
            <button ng-click="countOnce()">Once Counter</button>
            <button ng-click="upCounter()">Up Counter</button>
        </div>
        <div>
            onceCounter: {{onceCounter}} <br>
            upCounter: {{counter}} <br>
        </div>
    </div>
</body>
</html>