<!DOCTYPE html>
<html lang="en" ng-app="myFirstApp">
<head>
    <meta charset="UTF-8">
    <title>Angularjs Tuts</title>
    <script src="./angular.min.js"></script>
    <script src="./index.js"></script>
</head>
<body>
    <h1>Angularjs Tuts...</h1>
    <div ng-controller="MyFirstController">
        <h3>Print from the sayHi method: {{ sayHi()}}</h3>
        <h2>My Message is : {{message}}</h2>
        <input type="text" ng-model="message"/>
    </div>

    <div ng-controller="NameCalculatorAppController">
        <h2>Name Calculator</h2>
        <div>your name : <input type="text" ng-model="name" ng-keyup="displayNumeric();"></div>
        <div>Total Numeric value of person's name is: {{totalValue}} </div>
    </div>

    <div ng-controller="DIController">
        <h2>Dependency Injection (DI) in Angularjs(javascript):</h2>
        <input type="text" ng-model="name" ng-blur="upper();"/>
        {{name}}
    </div>

    <div ng-controller="ExpAndIntropController">
        <h2>Expressions and Interpolation</h2>
        <div>
            {{name}} Message is : <br>
            {{sayMessage()}}
        </div>
    </div>

    <div ng-controller="MyFilterController">
        <h2>Filter</h2>
        <div> {{ cost | currency}}</div>
    </div>
</body>
</html>